@import "scss/constans";

.navbar {
    background-color: $whiteColor;
    height: 100%;
    left: 0;
    max-width: toRem(300);
    overflow-y: auto;
    padding: toRem(20);
    position: fixed;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: all .3s ease;
    width: 100%;
    z-index: 55;
}
.navbar__active {
    -webkit-transform: translate(0);
    transform: translate(0);
}