@import "scss/constans";

.sidebar {
    border-right: toRem(1) solid hsla(0, 0%, 91%, .678);
    padding-right: toRem(10);
    @media (max-width: $tablet) {
        border-bottom: toRem(1) solid hsla(0,0%,91%,.678);
        border-right: 0;
        padding-bottom: toRem(30);
        padding-right: 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: toRem(5);
    }
    &__link {
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: toRem(5);
        column-gap: toRem(10);
        font-size: toRem(14);
        font-weight: 500;
        width: 100%;
        padding: toRem(10);
        &:hover {
            background-color: hsla(0,0%,91%,.412);
        }
    }
    &__logo {
        height: 100%;
    }
}
.active {
    background-color: #e9e9e9;
    &:hover {
        background-color: #e9e9e9;
    }
}
.profile__border {
    border-bottom: toRem(1) solid hsla(0, 0%, 91%, .678);
}

