@import "scss/constans";

.profile {
    &_logout {
        padding: toRem(10) toRem(20);
        background-color: $accent;
        color: $whiteColor;
    }
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    [data-class="header-active"] & {
        top: 69px;
        position: sticky;
    }
}