@import "scss/constans";

.main {
  position: relative;
  width: 100%;

  &_input {
    position: relative;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 3px;

    .isError & {
      border-color: red;
    }

    .isDisabled & {
      opacity: 0.6;
    }

    & input {
      width: 100%;
      height: 100%;
      text-align: left;
      font-size: toRem(16);
      padding: 8.5px 12px;
      border-radius: inherit;
      color: #000;
      outline: none;
      background-color: transparent;
      transition: background-color 0.2s ease;

      &[type="button"] {
        cursor: pointer;
      }
    }
  }

  &_dropdown {
    position: absolute;
    z-index: 999;
    background-color: $whiteColor;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    max-height: 805%;
    overflow-y: auto;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);

    .isOpen & {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &_button {
    text-align: left;
    padding: 9.5px 12px;
    width: 100%;

    &.active {
      background-color: #60c403;
      color: #fff;
    }

    @media (any-hover: hover) {
      &:hover:not(.active) {
        background-color: #e9e9e9;
      }
    }
  }

  &_error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }

  &_empty {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 9.5px 12px;
  }
}
