@import "scss/constans";
.button {
    &_red{
        display: inline-block;
        font-size: .75rem;
        margin: toRem(10) auto 0;
        padding: toRem(6) toRem(18);
        text-align: center;
        transition: all .2s ease;
        color: $whiteColor;
        background-color: #d30008;
        &:hover {
            background-color: #ab080d;
        }
    }
}