@import "scss/constans";

.category_list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
    padding: toRem(15) 0;
    margin: 0 -0.3125rem;
}
.items {
    &__main__item {
        list-style: none;
    }

    &__main__link {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 toRem(5);

        &__img {
            height: toRem(110);
            width: toRem(110);
        }

        &__img img {
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 100%;
            transition: all 0.2s ease;
        }

        &__text {
            margin-top: toRem(10);
            position: relative;
            text-align: center;

            &::before {
                background-color: #b0b0b0;
                bottom: toRem(-5);
                content: "";
                height: toRem(1);
                left: 0;
                position: absolute;
                transition: width 0.3s ease;
                width: 0;
                box-sizing: border-box;
            }
        }
        &:hover &__text::before {
            width: 100%;
            transition: width 0.3s ease;
        }
        &:hover &__img img {
            transform: scale(1.1);
        }
    }
}
