@import "scss/constans";

.checkout {
    margin-bottom: toRem(50);
    margin-top: toRem(20);
    &__col {
        display: flex;
        flex-direction: column-reverse;
        margin-top: toRem(30);
        @media(max-width: $mobile) {
            margin-top: toRem(10);
        }
    }
    &__wrapper {
        margin-top: toRem(20);
        margin-bottom: toRem(50);
    }
}

.form__checkout {
    &__footer {
        margin-top: toRem(50);
        display: flex;
        justify-content: center;
        &__button {
            font-size: toRem(15);
            width: 100%;
            max-width: toRem(270);
        }
        &__hide__button {
            pointer-events: none;
            opacity: 0.7;
        }
    }
}

.no__items {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    row-gap: toRem(15);
    & p {
        font-size: toRem(17);
        text-align: center;
    }
    &__button {
        width: toRem(270);
    }
}
