@import "scss/constans";

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: toRem(40);
    height: toRem(40);
    border-radius: 50%;
    background: linear-gradient(77.41deg, $accent 7.87%, $accentHover 102.55%);

    &_name {
        font-size: toRem(20);
        line-height: 125%; /* 20/16 */
        text-transform: uppercase;
        color: $whiteColor;
    }
}
