@import "scss/constans";

.dealership {
    &__container {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: toRem(1200);
        padding: 0 toRem(15);
        width: 100%;
    }
    &__subtitle {
        font-size: toRem(17);
        font-weight: 500;
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin-top: toRem(15);
        row-gap: toRem(10);
    }
}
.cabinet__title {
    font-size: 1.313rem;
    display: block;
    margin-bottom: toRem(30);
    text-align: center;
    &:not(:first-child) {
        margin-top: toRem(30);
    }
}
.cabinet__text {
    & p {
        line-height: 1.5;
        & em {
            color: #2d2d2d;
            font-style: italic;
        }
    }
}
.title__secondary {
    padding: 0;
    width: auto;
}
.title {
    color: #161616;
    font-weight: 700;
    margin-bottom: 1.25rem;
    position: relative;
}
.unactivated {
    display: flex;
    align-items: center;
    line-height: toRem(20);
    color: #856404;
    & svg {
        color: #f1b813;
        height: toRem(20);
        width: toRem(20);
        margin-right: toRem(5);
    }
    & a {
        margin-left: toRem(8);
        color: inherit;
        margin-right: toRem(8);
        text-decoration: underline;
        transition: all .2s ease;
    }
}