@import "scss/constans";

.products {
    min-height: toRem(550);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-top: toRem(20);

    &__title {
        color: $blackTextColor;
        display: inline-block;
        font-weight: 700;
        margin-bottom: toRem(20);
        padding: 0 80px 15px 0;
        position: relative;
        font-size: toRem(21);

        &::before {
            background-color: #b0b0b0;
            bottom: 0;
            content: "";
            height: toRem(1);
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
}
.rating {
    display: flex;
    align-items: center;
    &__star::before {
        color: #9d9b9b;
        content: "★";
        display: block;
        font-size: toRem(20);
    }
    &__star_active::before {
        color: #ffa700;
    }
}
.productInfoContainer {
    display: flex;
    flex-direction: column;
    min-height: toRem(452);
    overflow: hidden;
    position: relative;
}