@import "scss/constans";

.products {
    min-height: toRem(550);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-top: toRem(20);

    &__title {
        color: $blackTextColor;
        display: inline-block;
        font-weight: 700;
        margin-bottom: toRem(20);
        padding: 0 80px 15px 0;
        position: relative;
        font-size: toRem(21);

        &::before {
            background-color: #b0b0b0;
            bottom: 0;
            content: "";
            height: toRem(1);
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media (max-width: em(1200)) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(1, 1fr);
        }
        grid-gap: toRem(30);
        gap: toRem(30);
        padding: toRem(15) 0;

        // &__image {
        //     width: toRem(80);
        //     height: toRem(80);
        // }
        &__item {
            display: flex;
            flex-direction: column;
            min-height: toRem(452);
            overflow: hidden;
            position: relative;
        }

        &__actions {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            row-gap: toRem(2);
            top: 0;
        }

        &__action {
            display: flex;
            align-items: center;
            background-color: $accent;
            border-radius: 30px;
            color: #fff;
            font-size: toRem(12);
            justify-content: center;
            min-height: 25px;
            padding: 0 15px;
            text-align: center;
            width: toRem(120);

            &__sale {
                background-color: #d30008;
            }
        }

        &__img {
            margin: 0 auto;
            height: toRem(220);
            transition: all .2s ease;
            width: toRem(220);
        }

        &__image {
            object-fit: contain;
            height: 100%;
            object-position: center;
            width: 100%;
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: toRem(15);
            min-height: 36px;
            text-align: center;
            span {
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                font-size: toRem(18);
                overflow: hidden;
            }
        }

        &__info {
            margin-top: toRem(5);
            text-align: center;
            a {
                -webkit-line-clamp: 3; // 3 строки только видно
                -webkit-box-orient: vertical; // видно по вертикали
                color: #9d9b9b;
                display: -webkit-box;
                font-size: 13px;
                overflow: hidden;
            }
        }
        &__box {
            display: flex;
            align-items: center;
            margin-top: toRem(10);
        }
        &__rating {
            flex: 1 1 auto;
        }
        &__response {
            color: $accent;
            font-size: toRem(12);
            position: relative;
            &::before {
                background-color: $accent;
                bottom: 0;
                content: "";
                height: toRem(1);
                left: 0;
                opacity: .6;
                position: absolute;
                transition: all .2s ease;
                width: 0;
            }
        }
        &__prices {
            display: flex;
            align-items: center;
            column-gap: toRem(10);
            margin-top: auto;
        }
        &__price {
            color: $accent;
            font-size: toRem(20);
            line-height: 125%;
            &__old {
                color: #9d9b9b;
                font-size: toRem(16);
                text-decoration: line-through;
            }
            &__new {
                color: #d30008;
            }
        }
        &__btn {
            margin-top: toRem(15);
        }
    }
}
.rating {
    display: flex;
    align-items: center;
    &__star::before {
        color: #9d9b9b;
        content: "★";
        display: block;
        font-size: toRem(20);
    }
    &__star_active::before {
        color: #ffa700;
    }
}